body{
	font-family: helvetica, arial, sans-serif;
	background-color: whitesmoke;
	color: #1a2c4a;
}

h1{
	font-weight: bolder;
	border-bottom: 1px solid gray;
}

p{
	font-size: medium;
}

input[type=text]{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid black;
	background-color: whitesmoke;
	font-size: medium;
	text-align: center;
}

.button{
	color: whitesmoke;
  	border: none;
  	background-color: #1a2c4a;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: medium;
}
