body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(194, 187, 187);
}

.center {
    display: flex;
    justify-content: center;
}

tr, td{
    text-align: center;
    align-items: center;
    border: 1px solid black;
}


form{
    display: flex;
    justify-content: center;
}

table{
    border: 3px double black;
    width: 50%;
}

.button{
    transition: 0.5s ease;
    background-color: rgb(174, 167, 167);
    border: 1px solid black;
}

.button:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
    background-color: rgb(154, 147, 147);
}