body{
    background-color: #AACCDD;
    font-family: Tahoma, sans-serif;
    padding-bottom: 50px;
    animation: launch ease 0.5s;
}

#banner{
    font-weight: bold;
    font-size: xx-large;
}

#background-banner{
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 0;
    width: 100vw;
    background-color: #328899;
    border: 4px solid #227788;
    height: 120px;
}

#green-team{
    position: absolute;
    top: 40px;
    left: 15vw;
    z-index: 3;
}

#class-name{
    position: absolute;
    top: 40px;
    left: 65vw;
    z-index: 3;
}

#logo{
    position: absolute;
    left: calc(50vw - 50px);
    top: 10px;
    z-index: 1;
    width: 100px;
}

#navigation{
    position: absolute;
    width: 100%;
    display: flex;
    top: 150px;
    left: 0;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    height: 50px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.67vw;
    height: 50px;
    border: 2px solid #227788;
    background-color: #42AABB;
    cursor: pointer;
    transition: transform ease 0.5s, color 0.5s, background-color 0.5s;
}

.nav:hover{
    background-color: #227788;
	transform:scale3d(1.1,1.1,1);
	transition:transform ease 0.5s,color 0.5s,background-color 0.5s;
}
a img{
    transition:transform ease 0.5s;
}
a img:hover{
    transform:scale3d(1.1,1.1,1);
	transition:transform ease 0.5s;
}

.content {
	font-size: 22px;
}

@keyframes launch{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}

.text {
	border: 2px solid #227788;
	background-color: #42AABB;
	width: 20%;
	padding: 15px;
}

